[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.19.1"

[dev-packages]
requests = "==2.19.1"
recommonmark = "==0.4.0"
numpydoc = ">=0.8.0"
sphinx_rtd_theme = ">=0.3.1"

[requires]
python_version = "3.7"
